// adsense banners

section.adsense {
	width: 100%;
	// height: 120px;
	margin-top: 116px;
	padding: 1.5em 0;
	background-color: lighten($color-home, 20%);
	a img {
		display: block !important;
		margin:0 auto;
	}
}

//--- tablet(v) only styles ---//
@media screen and (max-width: 48em) {
	section.adsense {
		margin-top: 65px;
	}
}