// template pages
section.template {
	margin-top: 11em;
	#symbol {
		font-weight: 700;
		text-align: center;
		line-height: 1;
		@include font-size($font-size-mega);
	}

	div.symbol {
		&.small {
			margin: 24px 0;
			font-weight: 700;
			@include font-size($font-size-huge);
		}
		&.large {
			font-weight: 700;
		}
	}

	h4.type {
		display: inline-block;
		width: 10em;
	}

	h4 span.asterisk {
		@include font-size($font-size-base);
	}

	div.codes {
		padding: 1.5em 0;
		border-top:1px solid $body-font-color;
	}

	code {
		font-family: $font-family-primary;
		font-weight: 700;
		letter-spacing: 0.025em;
		color: $body-font-color;
		@include font-size($font-size-large);
		display: inline-block;
		margin:0 0 0.75em;
	}

	div.example {
		border-radius: 0.125em;
		code {
			color: $body-font-color;
			font-family: courier;
			font-weight: 100;
			letter-spacing: 0.05em;
			@include font-size(14px);
			margin: 0.75em 1em 1em;
		}
	}
}

//--- mobile only styles ---//
@media screen and (max-width: 40em) {
	section.template {
		margin-top: 6em;
		div.symbol {
			&.small {
				margin: 24px 0;
				text-align: center;
				font-weight: 700;
				@include font-size(200px);
			}
		}
	}
}

//--- mobile and tablet(v) only styles ---//
@media screen and (min-width: 40.063em) and (max-width: 48em) {
	section.template {
		margin-top: 8em;	
	}
}