// index card pages
section.grid {
	margin-top: 6.5em;

	div.theader {
		display: none;
	}


	div.entity {
		margin-top: 4.5em;
	}

	div.name {
		height: 4em;
		max-height: 4em;
		overflow-y: hidden;
	}

	div.symbol {
		display: block;
		text-align: center;
		height:148px;
		max-height:148px;
		margin-bottom: 0.125em;
		font-weight: 700;
		@include font-size($font-size-huge);
	}

	div.codes {
		padding: 0.5em 0;
		border-top:1px solid $body-font-color;
		border-bottom:1px solid $body-font-color;
		#html5-entity {
			display: none;
		}
	}

	code {
		font-family: $font-family-primary;
		font-weight: 700;
		letter-spacing: 0.025em;
		color: $body-font-color;
		@include font-size($font-size-medium);
		display: block;
		margin: 0.5em 0;
	}

	div.description {
		display: none;
	}
}

//--- mobile only styles ---//
@media screen and (max-width: 40em) {
	section.grid {
		code {
			@include font-size($font-size-base);
		}
	}
}

//--- tablet(h) and desktop only styles ---//
@media screen and (min-width: 48.063em) {
	section.grid,
	section.table {
		&.arrows div.symbol a {
			&:hover {
				color: lighten($color-arrows, 15%);
			}
		}
		&.currency div.symbol a {
			&:hover {
				color: lighten($color-currency, 15%);
			}
		}
		&.letters div.symbol a {
			&:hover {
				color: lighten($color-letters, 15%);
			}
		}
		&.math div.symbol a {
			&:hover {
				color: lighten($color-math, 15%);
			}
		}
		&.numbers div.symbol a {
			&:hover {
				color: lighten($color-numbers, 15%);
			}
		}
		&.punctuation div.symbol a {
			&:hover {
				color: lighten($color-punctuation, 15%);
			}
		}
		&.symbols div.symbol a {
			&:hover {
				color: lighten($color-symbols, 15%);
			}
		}
	}
}