// index card pages
section.grid {
	// margin-top: 0;
	margin-top: 6.5em;

	&.home,
	&.arrows,
	&.currency,
	&.symbols {
		margin-top: 0;
	}

	div.theader {
		display: none;
	}
	div.entity {
		margin-top: 4.5em;
	}
	div.name {
		height: 4em;
		max-height: 4em;
		overflow-y: hidden;
	}
	div.symbol {
		display: block;
		text-align: center;
		height:148px;
		max-height:148px;
		margin-bottom: 0.125em;
		font-weight: 700;
		@include font-size($font-size-huge);
	}
	div.codes {
		padding: 0.5em 0 0.75em 0;
		border-top:1px solid $body-font-color;
		border-bottom:1px solid $body-font-color;
		#css-code {
			display: none;
		}
		h6 {
			font-weight: 400;
			margin-top: -0.875em;
			cursor: default;
			@include font-size(8px);
			@include transition(all 0.25s ease-in)
		}
	}
	code {
		font-family: $font-family-primary;
		font-weight: 700;
		letter-spacing: 0.025em;
		color: $body-font-color;
		@include font-size($font-size-medium);
		display: block;
		margin: 0.25em 0;
	}
	div.description {
		display: none;
	}
}

//--- global color styles ---//
section.grid {
	&.home {
		div.entity {
			div.codes h6 {
				color: lighten($color-home, 15%);
			}
		}
	}
	&.arrows {
		div.entity {
			div.codes h6 {
				color: lighten($color-arrows, 15%);
			}
		}
	}
	&.currency {
		div.entity {
			div.codes h6 {
				color: lighten($color-currency, 15%);
			}
		}
	}
	&.letters {
		div.entity {
			div.codes h6 {
				color: lighten($color-letters, 15%);
			}
		}
	}
	&.math {
		div.entity {
			div.codes h6 {
				color: lighten($color-math, 15%);
			}
		}
	}
	&.numbers {
		div.entity {
			div.codes h6 {
				color: lighten($color-numbers, 15%);
			}
		}
	}
	&.punctuation {
		div.entity {
			div.codes h6 {
				color: lighten($color-punctuation, 15%);
			}
		}
	}
	&.symbols {
		div.entity {
			div.codes h6 {
				color: lighten($color-symbols, 15%);
			}
		}
	}
}

//--- mobile only styles ---//
@media screen and (max-width: 40em) {
	section.grid {
		margin-top: 1.5em;
		&.home {
			margin-top: 1.5em;
		}
		code {
			@include font-size($font-size-base);
		}
	}
}

//--- tablet(v) only styles ---//
@media screen and (min-width: 40.063em) and (max-width: 48em) {
	section.grid {
		margin-top: 3.5em;
		&.home {
			margin-top: 0;
		}
	}
}

//--- tablet(h) and desktop only styles ---//
@media screen and (min-width: 48.063em) {
	section.grid {
		&.home {
			// div.entity {
			// 	&:hover {
			// 		div.codes h6 {
			// 			color: lighten($color-home, 25%);
			// 		}
			// 	}
			// }
			div.symbol {
				a:hover {
					color: lighten($color-home, 15%);
				}
			}
		}
		&.arrows {
			// div.entity {
			// 	&:hover {
			// 		div.codes h6 {
			// 			color: lighten($color-arrows, 25%);
			// 		}
			// 	}
			// }
			div.symbol {
				a:hover {
					color: lighten($color-arrows, 15%);
				}
			}
		}
		&.currency {
			// div.entity {
			// 	&:hover {
			// 		div.codes h6 {
			// 			color: lighten($color-currency, 25%);
			// 		}
			// 	}
			// }
			div.symbol {
				a:hover {
					color: lighten($color-currency, 15%);
				}
			}
		}
		&.letters {
			// div.entity {
			// 	&:hover {
			// 		div.codes h6 {
			// 			color: lighten($color-letters, 25%);
			// 		}
			// 	}
			// }
			div.symbol {
				a:hover {
					color: lighten($color-letters, 15%);
				}
			}
		}
		&.math {
			// div.entity {
			// 	&:hover {
			// 		div.codes h6 {
			// 			color: lighten($color-math, 25%);
			// 		}
			// 	}
			// }
			div.symbol {
				a:hover {
					color: lighten($color-math, 15%);
				}
			}
		}
		&.numbers {
			// div.entity {
			// 	&:hover {
			// 		div.codes h6 {
			// 			color: lighten($color-numbers, 25%);
			// 		}
			// 	}
			// }
			div.symbol {
				a:hover {
					color: lighten($color-numbers, 15%);
				}
			}
		}
		&.punctuation {
			// div.entity {
			// 	&:hover {
			// 		div.codes h6 {
			// 			color: lighten($color-punctuation, 25%);
			// 		}
			// 	}
			// }
			div.symbol {
				a:hover {
					color: lighten($color-punctuation, 15%);
				}
			}
		}
		&.symbols {
			// div.entity {
			// 	&:hover {
			// 		div.codes h6 {
			// 			color: lighten($color-symbols, 25%);
			// 		}
			// 	}
			// }
			div.symbol {
				a:hover {
					color: lighten($color-symbols, 15%);
				}
			}
		}
	}
}