@charset "utf-8";

@import "hydrogen";
@import "normalize";

// colors
// 1 rgb(36, 39, 51)
// 1 rgb(36, 39, 42)
// 2 rgb(45, 41, 66)

// main content margin
body article {
	margin-top: 4.5em;
	opacity: 0.25;
	header, 
	footer {
		padding-top: 3em;
	}
}

// indexes
div.entity {
	margin-top: 4.5em;
}

div.name {
	height: 4em;
	max-height: 4em;
	overflow-y: hidden;
	&.small {

	}
	&.large {

	}
}

div.symbol {
	height:148px;
	max-height:148px;
	display: block;
	text-align: center;
	margin-bottom: 0.125em;
	&.small {
		font-weight: 700;
		@include font-size($font-size-huge);
	}
	&.large {
		@include font-size($font-size-mega);
	}
}

div.codes {
	padding: 0.5em 0;
	border-top:1px solid $body-font-color;
	border-bottom:1px solid $body-font-color;
}

code {
	font-family: $font-family-primary;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: $body-font-color;
	@include font-size($font-size-medium);
	display: block;
	margin: 0.5em 0;
}

// mobile menu icons
.icon {
	display:inline-block;
	padding-right:0.5em;
	width:2em;
	text-align:center;
}


// animations
.animate {
  -webkit-animation-duration: 0.625s;
  animation-duration: 0.625	s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 125ms;
  animation-delay: 125ms;
  overflow: hidden;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
}