@charset "utf-8";

@import "normalize";
@import "hydrogen";
@import "index";
@import "table";
@import "entity";

// main content
article {
	footer {
		margin-top: 4.5em;
		padding-top: 3em;
		padding-bottom: 4.5em;
		color: $color-primary;
		background-color: $body-background;
	}
  .credit {
    h5 {
      margin-bottom: 0.25em;
    }
  }
  .social,
  .breadcrumbs {
    h5 {
      margin-bottom: 0.5em;
    }
    img {
      margin-top: 0.25em;
      margin-right: 0.5em;
    }
  }
}

// animations
.animate {
  -webkit-animation-duration: 0.625s;
  animation-duration: 0.625	s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 125ms;
  animation-delay: 125ms;
  overflow: hidden;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
}