@charset "utf-8";

@import "normalize";
@import "hydrogen";
@import "grid";
@import "table";
@import "entity";
@improt "search";

// search bar colors
body {
  section.search {
    background-color: lighten(rgb(50, 50, 50), 10%);
  }
  &.arrows {
    section.search {
      background-color: lighten($color-arrows, 10%);
    }
  }
  &.currency {
    section.search {
      background-color: lighten($color-currency, 10%);
    }
  }
  &.letters {
    section.search {
      background-color: lighten($color-letters, 10%);
    }
  }
  &.math {
    section.search {
      background-color: lighten($color-math, 10%);
    }
  }
  &.numbers {
    section.search {
      background-color: lighten($color-numbers, 5%);
    }
  }
  &.punctuation {
    section.search {
      background-color: lighten($color-punctuation, 10%);
    }
  }
  &.symbols {
    section.search {
      background-color: lighten($color-symbols, 10%);
    }
  }
}

// main content
article {
	footer {
		margin-top: 4.5em;
		padding-top: 3em;
		padding-bottom: 4.5em;
		color: $color-primary;
		background-color: $body-background;
	}
  a:hover {
    color: $color-secondary;
  }
  .break {
    margin: 3em 0 4.5em 0;
  }
  .credit {
    h5 {
      margin-bottom: 0.25em;
    }
  }
  .contact,
  .social,
  .breadcrumbs,
  .colophon,
  .inspiration {
    h5 {
      margin-bottom: 0.5em;
    }
    img {
      margin-top: 0.25em;
      margin-right: 0.5em;
      &:hover {
        @include opacity(0.58);
      }
    }
  }
  .contact h6,
  .colophon h6,
  .inspiration h6 {
    margin-bottom: 0.25em;
  }
}

//--- mobile only styles ---//
@media screen and (max-width: 40em) {
  .credit,
  .social,
  .breadcrumbs,
  .about {
    margin-bottom: 3em;
  }
}


//--- tablet(v) only styles ---//
@media screen and (max-width: 48em) {
  .breadcrumbs {
    margin-bottom: 3em;
  }
}

// animations
.animate {
  -webkit-animation-duration: 0.625s;
  animation-duration: 0.625	s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 125ms;
  animation-delay: 125ms;
  overflow: hidden;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
}