<section id="social">
  <div class="row">
    <div class="col-xs-24 col-md-6 social">
    	<span style="font-size:18px;font-weight:400;color: #333;margin-right:1em;">Share</span>
    	<%= image_tag("facebook-button.svg", style: "margin: 0.75em 0.75em 0 0") %>
    	<%= image_tag("twitter-button.svg") %>
    	<span style="font-size:18px;font-weight:400;color: #333;margin-right:1em;">Email</span>
    </div>
  </div>
</section>