<div class="col-xs-8 col-sm-6 col-md-4 col-lg-3 col-xl-2 entity theader">
	<div class="name" title="Description">
		DESCRIPTION
	</div>

	<div class="symbol" title="Symbol">
		SYMBOL
	</div>

	<div class="codes">
		<code class="unicode" title="Unicode">UNICODE</code>
		<code class="hex-code" title="Hex Code">HEX CODE</code>
		<code class="html-code" title="HTML Code">HTML CODE</code>
		<code class="html4-entity" title="HTML4 Entity">HTML4 ENTITY</code>
		<code class="html5-entity" title="HTML5 Entity">HTML5 ENTITY</code>
	</div>
</div>