// Off-canvas Navigation System
// hydrogen/_navigation.scss

html, body {
  overflow-x: hidden;
}

//--- mobile only styles ---//
// @media only screen and (max-width: 40em) {
//   // #nav-mobile {
//   //   // padding:1em 0 1.25em 0;
//   // }
// }

// //--- tablet(v) only styles ---//
// @media only screen and (min-width: 40.063em) and (max-width: 48em) {

// }

//--- mobile and tablet(v) only styles ---//
@media only screen and (max-width: 48em) {
	#nav {
    position: fixed;
    width: 240px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    margin:0;
    ul {
      padding:11px 24px 0;
    }
    ul li {
      padding-top: 8px;
      color: $color-primary;
      &.home {
        margin-left: 32px;
        margin-bottom: 36px;
      }
      &.credits {
        margin-top: 32px;
        margin-left: 36px;
      }
      .icon {
        display:inline-block;
        margin-top: -0.2em;
        width:3em;
        text-align:center;
        vertical-align: middle;
        color: $color-secondary;
        @include font-size($font-size-small);
      }
    }
    a.active {
      li.arrows {
        color: $color-arrows;
        .icon {
          color: $color-arrows;
        }
      }
      li.currency {
        color: $color-currency;
        .icon {
          color: $color-currency;
        }
      }
      li.letters {
        color: $color-letters;
        .icon {
          color: $color-letters;
        }
      }
      li.math {
        color: $color-math;
        .icon {
          color: $color-math;
        }
      }
      li.numbers {
        color: $color-numbers;
        .icon {
          color: $color-numbers;
        }
      }
      li.punctuation {
        color: $color-punctuation;
        .icon {
          color: $color-punctuation;
        }
      }
      li.symbols {
        color: $color-symbols;
        .icon {
          color: $color-symbols;
        }
      }
    }
  }

  #nav-mobile {
    position: fixed;
    z-index: $z3;
    background-color: $body-background;
    padding:1em 0;
    h2 {
      margin-left: 0.25em;
    }
  }

  .logo {
    line-height: 0;
    @include font-size(27px);
  }

  .nav-right {
    -webkit-transform: translate3d(240px,0,0);
    -moz-transform: translate3d(240px,0,0);
    -ms-transform: translate3d(240px,0,0);
    -o-transform: translate3d(240px,0,0);
    transform: translate3d(240px,0,0);
  }

  .nav-open {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .main-inactive {
    -webkit-transform: translate3d(-240px,0,0);
    -moz-transform: translate3d(-240px,0,0);
    -ms-transform: translate3d(-240px,0,0);
    -o-transform: translate3d(-240px,0,0);
    transform: translate3d(-240px,0,0);
  }
}

//--- tablet(h) only styles ---//
@media only screen and (min-width: 48.063em) and (max-width: 64em) {
  #nav {
    li.home h2 {
      @include font-size($font-size-base);
    }
  }
}

//--- tablet(h) and desktop only styles ---//
@media only screen and (min-width: 48.063em) {

  // align navigation
  #nav {
    position: fixed;
    width: 100%;
    display: block;
    color: $body-background;
    z-index: $z3;
    section.links {
      background-color: $body-background;
      ul {
        padding-bottom: 1em;
      }
      ul li {
        padding-top: 0.5em;
        color: $color-primary;
        border-top: 0.25em solid $body-font-color;
        @include transition(all .25s ease-in);
        .logo {
          line-height: 0;
          @include font-size($font-size-large);
        }
        .icon {
          display:block;
          margin-top:-0.125em;
          color: $color-secondary;
          @include font-size($font-size-small);
          &:hover {
            color: $color-primary;
          }
        }
      }
      ul li.arrows {
        &:hover {
          color: $color-arrows;
          border-top: 0.25em solid $color-arrows;
          .icon {
            color: $color-arrows;
          }
        }
      }
      ul li.currency {
        &:hover {
          color: $color-currency;
          border-top: 0.25em solid $color-currency;
          .icon {
            color: $color-currency;
          }
        }
      }
      ul li.letters {
        &:hover {
          color: $color-letters;
          border-top: 0.25em solid $color-letters;
          .icon {
            color: $color-letters;
          }
        }
      }
      ul li.math {
        &:hover {
          color: $color-math;
          border-top: 0.25em solid $color-math;
          .icon {
            color: $color-math;
          }
        }
      }
      ul li.numbers {
        &:hover {
          color: $color-numbers;
          border-top: 0.25em solid $color-numbers;
          .icon {
            color: $color-numbers;
          }
        }
      }
      ul li.punctuation {
        &:hover {
          color: $color-punctuation;
          border-top: 0.25em solid $color-punctuation;
          .icon {
            color: $color-punctuation;
          }
        }
      }
      ul li.symbols {
        &:hover {
          color: $color-symbols;
          border-top: 0.25em solid $color-symbols;
          .icon {
            color: $color-symbols;
          }
        }
      }
      a.active {
        li.arrows {
          color: $color-arrows;
          border-top: 0.25em solid $color-arrows;
          .icon {
            color: $color-arrows;
          }
        }
        li.currency {
          color: $color-currency;
          border-top: 0.25em solid $color-currency;
          .icon {
            color: $color-currency;
          }
        }
        li.letters {
          color: $color-letters;
          border-top: 0.25em solid $color-letters;
          .icon {
            color: $color-letters;
          }
        }
        li.math {
          color: $color-math;
          border-top: 0.25em solid $color-math;
          .icon {
            color: $color-math;
          }
        }
        li.numbers {
          color: $color-numbers;
          border-top: 0.25em solid $color-numbers;
          .icon {
            color: $color-numbers;
          }
        }
        li.punctuation {
          color: $color-punctuation;
          border-top: 0.25em solid $color-punctuation;
          .icon {
            color: $color-punctuation;
          }
        }
        li.symbols {
          color: $color-symbols;
          border-top: 0.25em solid $color-symbols;
          .icon {
            color: $color-symbols;
          }
        }
      }
    }
    section.search {
      padding: 0.5em 0;
      ul li {
        h6, img {
          display: inline-block;
          vertical-align: middle;
        }
        img {
          padding: 0.375em;
        }
      }
    }
  }
}

//--- desktop only styles ---//
@media only screen and (min-width: 64.063em) {
  #nav {
    li.home {
      margin-top: -0.2em;
    }
  }
}

//--- global nav ---//

// mobile button
.nav-button {
  position: absolute;
	display: block;
  top: -0.5em;
  right: 0.5em;
  width: 3em;
  height: 3em;
  -webkit-transform: translate3d(0,0,0);
  z-index: $z3;
}

.nav-button span:after {
	content: "";
	position: absolute;
	display: block;
	height: 0;
	top: 1em;
	left: 1em;
	box-shadow: 0 0 0 0.0625rem $color-primary, 0 0.45rem 0 0.0625rem $color-primary, 0 0.9rem 0 0.0625rem $color-primary;
	width: 1em;
  z-index: $z3;
}

// transitions
#nav, #main {
    -webkit-transition: -webkit-transform .25s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .25s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .25s cubic-bezier(.16, .68, .43, .99);
    transition: transform .25s cubic-bezier(.16, .68, .43, .99);
}

// body overlay
.nav-overlay {
  display: none;
  position: fixed;
}

// body class that disables scrolling
.nav-active {
  overflow: hidden;
  height: 100%;
}

.nav-active .nav-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z4;
  background-color: rgba(136, 136, 136, 0.5);
  @include animation(fade 0.5s);
}

@keyframes fade{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

// headroom animations
.animated {
  -webkit-animation-duration: 0.375s;
     -moz-animation-duration: 0.375s;
       -o-animation-duration: 0.375s;
          animation-duration: 0.375s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-100%);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-100%);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(-100%);
  }
}
@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }

  100% {
    -o-transform: translateY(-100%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}