---
typeof: CollectionPage
title: HTML Arrow Symbols, Entities and Codes — HTML Arrows
description: The most beautiful HTML arrow symbol codes and ASCII characters you will ever see, plus all those other HTML, ASCII and HEX codes you can never remember.
image: 
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("meta/meta_index") %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(45, 50, 55);}
<% end %>

<%# Page Content %>
<section class="row index arrows">

	<% data.arrows.entities.each do |entity| %>
		<%= partial("partials/entity_index", :locals => { :entity => entity }) %>
	<% end %>
	
</section>

<%# Page Footer %>
<% content_for :footer do %>
	<section class="row breadcrumbs">
		<div class="col-xs-24" xmlns:v="http://rdf.data-vocabulary.org/#">
			<h6>
			  <span typeof="v:Breadcrumb">
			  	<%= link_to "Home", "/", rel: "v:url", property: "v:title" %> &#8594;
			    <span rel="v:child" typeof="v:Breadcrumb">
			      <%= link_to "Arrows", "/arrows/", rel: "v:url", property: "v:title" %>
			    </span>
			  </span>
			 </h6>
		</div>
	</section>
<% end %>