---
typeof: WebPage
title: HTML Symbol Codes and Entities — HTML Arrows
description: The most beautiful HTML arrows, currency and copyright symbols you will ever see, plus all those other pesky ASCII and HEX codes you can never remember.
image: http://htmlarrows.com/assets/images/htmlarrows-hero.jpg
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial "meta/meta_index" %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(50, 50, 50);}
<% end %>

<%# Page Content %>
<section id="index" class="row grid home">

  <%= partial("partials/table") %>

	<% data.home.entities.each do |entity| %>
		<%= partial("partials/entity_home", :locals => { :entity => entity }) %>
	<% end %>

</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "http://htmlarrows.com/", rel: "v:url", property: "v:title" %>
  </span>
<% end %>